# Originally written from Stefano Belli
# Add here useless IDE's project files
# Don't delete anything here

#IDEs
*.anjuta
*.depend
*.vimrc
*.anjuta_sym_db.db
*.vim
*.layout
*.cbp
*.*.user
*.user
*.creator
*.config
*.includes
*.files
*.kdev4
.idea/

#JASM-related files
jasm.log
jasm-debug
client.log
jasmcli.*.log
jasm
jasmbuild_info.h

#Various
*.gch
*.plist
*.pyc
*.*.pyc
*.h.gch

#Static / Shared libraries and Objects 
*.a
*.so
*.o

#GTAGS files
GTAGS
GRTAGS
GPATH

*~

#CMake useless files (Do not include CMakeFiles.txt!!)
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake

#Packages
*.deb
*.rpm
