*.anjuta
*.depend
*.vimrc
*.anjuta_sym_db.db
*.vim
*.layout
*.cbp
*.*.user
*.user
*.creator
*.config
*.includes
*.files

jasm.log
jasm-debug
client.log
jasmcli.*

*.gch
*.h.gch

*.a
*.so
*.o

GTAGS
GRTAGS
GPATH

*~

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
